.vmodal{}

.vmodal.open .modal-overlay,
.vmodal.open .modal-window{
    opacity: 1;
    z-index: 1000;
}

.modal-window, .modal-overlay{
    opacity: 0;
    z-index: -1;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
.modal-window{
    width: 600px;
    margin: 100px auto;
    background: antiquewhite;
}
.modal-header{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.modal-title{
    font-size: 1.5rem;
}
.modal-close{
    cursor: pointer;
}

.modal-body{
    padding: 10px;
}

.modal-body p{
    padding: 0 0 5px;
}

.modal-footer{
    padding: 5px 10px;
    border-top: 1px solid beige;
}

